@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
    font-family: "Roboto", sans-serif;
}

@layer {
    .add {
        @apply bg-blue-600 outline-none hover:bg-blue-700 transition-all flex items-center gap-3 py-4 px-9 rounded-4xl text-[15px] font-bold text-white cursor-pointer;
    }

    .icon {
        @apply p-2.5 bg-white drop-shadow-2xl rounded-[9px] cursor-pointer;
    }

    .add-form input,
    .add-form select {
        @apply bg-white p-3 text-[15px] appearance-none rounded-2xl outline-none
    }
}